#https://codefresh.io/docker-tutorial/not-ignore-dockerignore-2/

# ignore .git and .cache folders
.git
.cache
# ignore all *.class files in all folders, including build root
**/*.class
# ignore all markdown files (md) beside all README*.md other than README-secret.md
*.md
!README*.md
README-secret.md

.idea/
*.iml
*.iws
target/
.sonar/
.sonarlint/
